resources/extra_materials/AC_Logo_Clear.png
resources/extra_materials/archive.css
resources/extra_materials/archive.html
resources/extra_materials/Socials.png
resources/extra_materials/Start_Reading.png
