@font-face { /* Akrobat font */
    font-family: 'Akrobat';
    src:
        local('Akrobat'),
        local('Akrobat-Regular'),
        url('/resources/fonts/Akrobat/Akrobat-Regular.ttf');
    }

body {
    text-align: center;
    font-family: "Akrobat", "Calibri", sans-serif;

    /* <-- This is the dark gradient over the BG --> */
    background:
    linear-gradient(
   rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.1)
   ) ,
    url(file:///C:/Users/Kimberlea/Desktop/Web_Projects/AncientChronicles/resources/images/Free-Simple-Black-Seamless-Pattern-for-Website-Background[1].jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: inherit;
}

header {
    background-image: url(file:///C:/Users/Kimberlea/Desktop/Web_Projects/AncientChronicles/resources/images/Aranite.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo_bar {
    background: rgba(0, 0, 0, 0.5);
}

#logo {
    padding-top: 30px;
    padding-bottom: 34px;
}

nav {
    list-style-type: none;
    display: inline-flex;
    margin: 0 auto;
}

nav a {
    color: white;
    font-weight: bolder;
    padding: 8px 16px 8px 16px;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover, table a:hover {
    color: teal;
}

#socials {
    opacity: 0.4;
    background-color: black;
}

#navbar {
    background-color: black;
}

main, table {
    max-width: 500px;
    margin: 0 auto;
}

h2, h3, th {
    color: white;
}

p {
    color: silver;
}

table a {
    color: silver;
    text-decoration: none;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

#note, #major {
    padding-top: 50px;
    margin-bottom: 50px;
}

#major h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.storyline {
    background-color: darkslategrey;
    border: 1px solid darkslategray;
    border-radius: 16px;
    display: inline-block;
    padding: 20px;
}

footer {
    color: white;
    opacity: 0.4;
    margin-top: 350px; /* Change back to 60px when content gets added */
    margin-bottom: 10px;

    /* This will need be removed later as content
    pushes it to the bottom anyway.
    position: absolute;
    bottom: 0;
    width: 100%; */
}