@font-face { /* Akrobat font */
    font-family: 'Akrobat';
    src:
        local('Akrobat'),
        local('Akrobat-Regular'),
        url('/resources/fonts/Akrobat/Akrobat-Regular.ttf');
    }

html {
    width: 100%;
    background-color: black;
}

body {
    font-family: Akrobat, Calibri, Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;

    /* <-- This is the dark gradient over the BG --> */
    background:
    linear-gradient(
   rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.1)
   ) ,
    url('https://i.imgur.com/NnxM5H3.jpg');
    
    background-size: initial;
    background-repeat: repeat;
    background-position: center;
    max-width: inherit;
}

header {
    /* Background image code in html */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Transparent black bar at top */
#logo_bar {
    background: rgba(0, 0, 0, 0.3);
    padding-top: 10px;
}

#logo {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    max-width: 420px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: teal;
}

a:focus {
    outline: 2px solid #00eeff;
}

nav {
    list-style-type: none;
    display: inline-flex;
    margin: 0 auto;
    padding: 8px 0;
    align-items: center;
}

nav a {
    font-weight: bolder;
    padding: 0 16px;
    font-size: 25px;
}

#socials {
    background-color: black;
    padding-bottom: 8px;
}

#socials img {
    height: 20px;
    padding: 0 4px;
}

/* Animation for opacity change */
.insta, .face, .twit, .disc {
    opacity: 0.4;
}
.insta:hover, .face:hover, .twit:hover, .disc:hover {
    opacity: 0.8;
}
/* End animation */



#navbar {
    background-color: black;
    border-bottom: 1px solid rgb(34, 34, 34);
}

main, table {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1em;
}

h2, h3, th {
    color: white;
}

p {
    color: silver;
}

table a {
    color: silver;
    text-decoration: none;
    font-weight: bold;
}

td {
    padding: 0 8px;
    font-size: 1.3em;
}

#note, #major {
    padding: 30px 0;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.storyline {
    border: 1px solid rgb(39, 37, 37);
    background-size: cover;
    border-radius: 16px;
    display: inline-block;
    padding: 30px 20px;
}

footer {
    color: white;
    opacity: 0.4;
    margin-top: 60px; /* Change back to 60px when content gets added */
    margin-bottom: 10px;
}

/* Remove this when there is enough content
   to keep the footer at the bottom */
#page_container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 1rem;    /* Footer height */
}
  
#footer {
    position: absolute;
    bottom: 1%;
    width: 100%;
    font-size: 19px;
    height: 1rem;            /* Footer height */
}


/* Responsive design for screen size 600px and smaller */
@media only screen and (max-width: 600px) {
    body {
        font-size: 1em;
    }

    #logo {
        max-width: 380px;
    }

    nav {
        max-width: 600px;
        padding: 10px 4px;
    }

    nav a {
        padding: 10px 6px;
        font-size: 20px;
    }

    #socials img {
        height: 18px;
        padding: 0 6px;
    }

    h2 {
        font-size: 26px;
    }
}