@font-face { /* Akrobat font */
    font-family: 'Akrobat';
    src:
        local('Akrobat'),
        local('Akrobat-Regular'),
        url('/resources/fonts/Akrobat/Akrobat-Regular.ttf');
    }

html {
    width: 100%;
    background-color: black;
}

body {
    font-family: Akrobat, Calibri, Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;

    /* <-- This is the dark gradient over the BG --> */
    background:
    linear-gradient(
   rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.1)
   ) ,
    url('https://i.imgur.com/NnxM5H3.jpg');
    
    background-size: initial;
    background-repeat: repeat;
    background-position: center;
    max-width: inherit;
}

header {
    /* Background image code in html */
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Transparent black bar at top */
#logo_bar {
    background: rgba(0, 0, 0, 0.3);
    padding-top: 10px;
}

#logo {
    /* Background image code in html */
    pointer-events: none;    
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    max-width: 420px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

a {
    pointer-events: auto;
    color: white;
    text-decoration: none;
}

a:hover {
    color: teal;
}

a:focus {
    outline: 2px solid #00eeff;
}

nav {
    list-style-type: none;
    display: inline-flex;
    margin: 0 auto;
    padding: 8px 0;
    align-items: center;
}

nav a {
    font-weight: bolder;
    padding: 0 16px;
    font-size: 25px;
}

.skip-to-content {
    right: 70%;
    position: absolute;
    transform: translateY(60%);
    opacity: 0%;
    z-index: -1;
}

.skip-to-content:focus {
    z-index: 0;
    opacity: 100%;
}

#socials {
    background-color: black;
    padding-bottom: 8px;
}

#socials img {
    height: 20px;
    padding: 0 4px;
}

/* Animation for opacity change */
.insta, .face, .twit, .disc {
    opacity: 0.4;
}
.insta:hover, .face:hover, .twit:hover, .disc:hover {
    opacity: 0.8;
}
/* End animation */


#navbar {
    background-color: black;
    border-bottom: 1px solid rgb(34, 34, 34);
}

main {
    max-width: 800px;
    margin: auto;
}

.content {
    margin: 60px 0;
}

#creators {
    border: 1px solid rgb(34, 34, 34);
    border-radius: 2%;
}

#creators_flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10px 0;
}

.profile {
    margin: 25px 20px;
    padding: 0 45px;
}

#creators img {
    border: 1px solid rgb(34, 34, 34);
    border-radius: 40%;
    height: 100px;
    width: 100px;
}

h1, h2, h3, h4, h5 {
    color: white;
}

p {
    color: silver;
}

.heading {
    font-size: 36px;
    margin-top: 40px;
}

p {
    color: silver;
}

.email {
    font-weight: bold;
    color: white;
    padding-bottom: 30px;
}

#support {
    border: 1px solid rgb(34, 34, 34);
    border-radius: 2%;
    padding: 0 55px;
}

.help {
    font-weight: bold;
    color: steelblue;
}

#kofiframe {
    border: none;
    width: 80%;
    background: #000;
    height: 750;
}

footer {
    margin-top: 60px;
    margin-bottom: 10px;
    color: white;
    opacity: 0.4;
    font-size: 19px;
}


/* Responsive design for screen size 600px and smaller */
@media only screen and (max-width: 600px) {
    body {
        font-size: 1em;
    }

    #logo {
        max-width: 380px;
    }

    nav {
        max-width: 600px;
        padding: 10px 4px;
    }

    nav a {
        padding: 10px 10px;
        font-size: 20px;
    }

    .skip-to-content {
        right: 70%;
        position: absolute;
        transform: translateY(60%);
        opacity: 0%;
        z-index: -1;
    }
    
    .skip-to-content:focus {
        z-index: 0;
        opacity: 100%;
    }

    #socials img {
        padding: 0 6px;
    }

    .heading {
        font-size: 1.7em;
    }

    h2 {
        font-size: 22px;
    }

    .content {
        margin: 60px 15px;
    }

    #creators_flex {
        margin: 10px 0;
    }

    .profile {
        padding: 0 10px;
    }

    #kofiframe {
        width: 100%;

    }

    #support {
        padding: 0 25px;
    }

    footer {
        margin-bottom: 20px;
    }
}